@model IntranetMundoRepresentaciones.Models.tb_paquete

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tb_paquete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_compra_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_compra_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_compra_out)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_compra_out)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_viajes_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_viajes_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_viaje_out)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_viaje_out)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.acomodacionH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.acomodacionH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.planT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.planT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.incentivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.incentivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.factor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.factor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.npax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.npax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_A)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_A)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio_TTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio_TTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preciototal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preciototal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_aerolinea.NombreComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_aerolinea.NombreComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_cadenahotelera.nombreCadenaHotelera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_cadenahotelera.nombreCadenaHotelera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_ciudad.nombreCiudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_ciudad.nombreCiudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_ciudad1.nombreCiudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_ciudad1.nombreCiudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_hotel.nombrehotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_hotel.nombrehotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_pais.NombrePais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_pais.NombrePais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_usuario.apellidopaternousuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_usuario.apellidopaternousuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_usuario1.apellidopaternousuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_usuario1.apellidopaternousuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_tipohabitacion.NombreTipoHabitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_tipohabitacion.NombreTipoHabitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_zona.nombreZona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_zona.nombreZona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_tarjetaasistencia.nombreTarjetaasistencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_tarjetaasistencia.nombreTarjetaasistencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idPaquete }) |
    @Html.ActionLink("Back to List", "Index")
</p>
