@model IntranetMundoRepresentaciones.Models.tb_ciudad

@{
    ViewBag.Title = "Delete";
}

<br />
<style>
    .col-md-2 {
        width: 21%;
    }
</style>
<div class="col-md-12">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Crear Ciudad</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                /*Primera Fila*/
                <div class="col-md-12">
                    <!--Codigo-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Codigo</label>
                        </div>
                        <div class="col-md-7">
                            @Html.DisplayFor(model => model.CodigoCiudad)
                        </div>
                    </div>

                    <!--Nombre-->
                    <div class="col-md-2" style="width:37%;">
                        <div class="col-md-3">
                            <label style="font-size:11px;">Nombre</label>
                        </div>
                        <div class="col-md-8">
                            @Html.DisplayFor(model => model.nombreCiudad)
                        </div>
                    </div>

                    <!--Zona-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Zona</label>
                        </div>
                        <div class="col-md-7">
                            @Html.DisplayFor(model => model.tb_zona.nombreZona)
                        </div>
                    </div>

                    <!--Pais-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Pais</label>
                        </div>
                        <div class="col-md-7">
                            @Html.DisplayFor(model => model.tb_pais.NombrePais)
                        </div>
                    </div>
                </div>
                /*Segunda Fila*/
                <div class="col-md-12">
                    <!--Foto-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Foto</label>
                        </div>
                        <div class="col-md-7">
                            @Html.DisplayFor(model => model.fotoCiudad)
                        </div>
                    </div>
                </div>
                /*Botones*/
                <div class="col-md-12" style="text-align:center;">
                    <div class="form-group">
                        <input type="submit" value="Eliminar Ciudad" class="btn btn-primary" />
                        @Html.ActionLink("Regresar Lista Ciudad", "Index", null, new { @class = "btn btn-danger" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>