@model IEnumerable<IntranetMundoRepresentaciones.Models.tb_impuestos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreImpuesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioImpuesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecharegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarioregistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechamodificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuariomodificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreImpuesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioImpuesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecharegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioregistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechamodificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuariomodificacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idImpuestos }) |
            @Html.ActionLink("Details", "Details", new { id=item.idImpuestos }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idImpuestos })
        </td>
    </tr>
}

</table>
