@model IntranetMundoRepresentaciones.Models.tb_usuario

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tb_usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.anexo_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anexo_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidopaternousuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidopaternousuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidomaternousuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidomaternousuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comisionusuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comisionusuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contactousuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contactousuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contrasenausuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contrasenausuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correousuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correousuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correosunatusuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correosunatusuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ctadetraccionusuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ctadetraccionusuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cumpleanosusuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cumpleanosusuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccionusuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccionusuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lineacreditousuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lineacreditousuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metausuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metausuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreusuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreusuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numerocontactousuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numerocontactousuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numerodocumentousuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numerodocumentousuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.razonsocialusuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razonsocialusuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.skypeusuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.skypeusuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonousuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonousuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecharegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecharegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioregistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioregistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechamodificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechamodificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuariomodificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuariomodificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_agencia1.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_agencia1.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria1.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria1.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria2.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria2.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria3.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria3.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria4.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria4.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria5.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria5.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria6.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria6.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria7.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria7.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_pais.NombrePais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_pais.NombrePais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_vigencia.nombreVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_vigencia.nombreVigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_zona.nombreZona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_zona.nombreZona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_vigencia1.nombreVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_vigencia1.nombreVigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_vigencia2.nombreVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_vigencia2.nombreVigencia)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
