@model IntranetMundoRepresentaciones.Models.tb_categoria

@{
    ViewBag.Title = "Create";
}

<br />
<style>
    .col-md-2 {
        width: 21%;
    }
</style>
<div class="col-md-12">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Crear Agencia</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                /*Primera Fila*/
                <div class="col-md-12">
                    <!--Nombre-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Tipo Documento</label>
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.nombreCategoria, new { htmlAttributes = new { @style = "width: 100%; height:30px;" } })
                        </div>
                    </div>

                    <!--Tipo Categoria-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Tipo Documento</label>
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownList("idTipocategoria", null, htmlAttributes: new { @style = "width: 100%; height:30px;" })
                        </div>
                    </div>
                </div>
                /*Botones*/
                <div class="col-md-12" style="text-align:center;">
                    <div class="form-group">
                        <input type="submit" value="Agregar Categoria" class="btn btn-primary" />
                        @Html.ActionLink("Regresar Lista Categoria", "Index", null, new { @class = "btn btn-danger" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
