@model IntranetMundoRepresentaciones.Models.tb_cadenahotelera

@{
    ViewBag.Title = "Edit";
}

<br />
<style>
    .col-md-2 {
        width: 21%;
    }
</style>
<div class="col-md-12">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Editar Empleado</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.idCadenaHotelera)
                @Html.HiddenFor(model => model.fecharegistro)
                @Html.HiddenFor(model => model.usuarioregistro)
                /*Primera Fila*/
                <div class="col-md-12">
                    <!--Nombre-->
                    <div class="col-md-2" style="width:42%;">
                        <div class="col-md-2">
                            <label style="font-size:11px;">Nombre</label>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.nombreCadenaHotelera, new { htmlAttributes = new { @style = "width: 100%; height:30px;" } })
                        </div>
                    </div>

                    <!--Ruc-->
                    <div class="col-md-2">
                        <div class="col-md-2">
                            <label style="font-size:11px;">Ruc</label>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ruc, new { htmlAttributes = new { @style = "width: 100%; height:30px;" } })
                        </div>
                    </div>

                    <!--Direccion-->
                    <div class="col-md-2" style="width:37%;">
                        <div class="col-md-2">
                            <label style="font-size:11px;">Direccion</label>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.DireccionCadenaHotelera, new { htmlAttributes = new { @style = "width: 100%; height:30px;" } })
                        </div>
                    </div>
                </div>
                /*Segunda Fila*/
                <div class="col-md-12">
                    <!--Zona-->
                    <div class="col-md-2">
                        <div class="col-md-2">
                            <label style="font-size:11px;">Zona</label>
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownList("idZona", null, htmlAttributes: new { @class = "combobox", @style = "width:100%; height:30px;" })
                        </div>
                    </div>

                    <!--Pais-->
                    <div class="col-md-2">
                        <div class="col-md-2">
                            <label style="font-size:11px;">Pais</label>
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownList("idPais", null, htmlAttributes: new { @class = "combobox", @style = "width:100%; height:30px;" })
                        </div>
                    </div>

                    <!--Destino-->
                    <div class="col-md-2">
                        <div class="col-md-2">
                            <label style="font-size:11px;">Destino</label>
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownList("idCiudad", null, htmlAttributes: new { @class = "combobox", @style = "width:100%; height:30px;" })
                        </div>
                    </div>

                    <!--Correo-->
                    <div class="col-md-2" style="width:37%;">
                        <div class="col-md-2">
                            <label style="font-size:11px;">Correo</label>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.CorreoCadenaHotelera, new { htmlAttributes = new { @style = "width: 100%; height:30px;" } })
                        </div>
                    </div>
                </div>
                /*Tercera Fila*/
                <div class="col-md-12">
                    <!--Contacto-->
                    <div class="col-md-2">
                        <div class="col-md-2">
                            <label style="font-size:11px;">Contacto</label>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ContactoCadenaHotelera, new { htmlAttributes = new { @style = "width: 100%; height:30px;" } })
                        </div>
                    </div>

                    <!--Telefono 1-->
                    <div class="col-md-2">
                        <div class="col-md-2">
                            <label style="font-size:11px;">Telefono 1</label>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Telefono1CadenaHotelera, new { htmlAttributes = new { @style = "width: 100%; height:30px;" } })
                        </div>
                    </div>

                    <!--Telefono 2-->
                    <div class="col-md-2">
                        <div class="col-md-2">
                            <label style="font-size:11px;">Telefono 2</label>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Telefono2CadenaHotelera, new { htmlAttributes = new { @style = "width: 100%; height:30px;" } })
                        </div>
                    </div>

                    <!--Pagina Web-->
                    <div class="col-md-2" style="width:37%;">
                        <div class="col-md-2">
                            <label style="font-size:11px;">Pagina Web</label>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.PaginaWebCadenaHotelera, new { htmlAttributes = new { @style = "width: 100%; height:30px;" } })
                        </div>
                    </div>
                </div>
                /*Cuarta Fila*/
                <div class="col-md-12">
                    <!--Logo-->
                    <div class="col-md-2">
                        <div class="col-md-2">
                            <label style="font-size:11px;">Logo</label>
                        </div>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.LogoCadenaHotelera, new { htmlAttributes = new { @style = "width:100%; height:30px;" } })
                        </div>
                    </div>
                </div>
                /*Botones*/
                <div class="col-md-12" style="text-align:center;">
                    <div class="form-group">
                        <input type="submit" value="Editar Cadena Hotelera" class="btn btn-primary" />
                        @Html.ActionLink("Regresar Lista Cadena Hotelera", "Index", null, new { @class = "btn btn-danger" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
