@model IntranetMundoRepresentaciones.Models.tb_detalleingresohotel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tb_detalleingresohotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.doble)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doblereal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doblereal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.triple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.triple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.triplereal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.triplereal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuadruple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuadruple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuadruplereal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuadruplereal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.simple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.simple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.simplereal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.simplereal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quintuple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quintuple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quituplereal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quituplereal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sextuple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sextuple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sextuplereal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sextuplereal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.child1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.child1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.child1real)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.child1real)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edad1child1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad1child1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edad2child1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad2child1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.child2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.child2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.child2real)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.child2real)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edad1child2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad1child2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edad2child2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad2child2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.child3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.child3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.child3real)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.child3real)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edad1child3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad1child3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edad2child3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad2child3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.infante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.infante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.infantereal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.infantereal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edadinfante1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edadinfante1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edadinfante2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edadinfante2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capmaximaadu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capmaximaadu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capmaximanin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capmaximanin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supmontodoble)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supmontodoble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supporcentajedoble)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supporcentajedoble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supmontotriple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supmontotriple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supporcentajetriple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supporcentajetriple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tercerpaxmonto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tercerpaxmonto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tercerpaxporcentaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tercerpaxporcentaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supmontocuadruple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supmontocuadruple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supporcentajecuadruple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supporcentajecuadruple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuartopaxmonto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuartopaxmonto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuartopaxporcentaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuartopaxporcentaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supmontosimple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supmontosimple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supporcentajesimple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supporcentajesimple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supmontoquintuple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supmontoquintuple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supporcentajequintuple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supporcentajequintuple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quintopaxmonto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quintopaxmonto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quintopaxporcentaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quintopaxporcentaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supmontosextuple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supmontosextuple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supporcentajesextuple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supporcentajesextuple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sextopaxmonto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sextopaxmonto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sextopaxporcentaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sextopaxporcentaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supmontochild1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supmontochild1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supporcentajechild1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supporcentajechild1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supmontochild2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supmontochild2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supporcentajechild2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supporcentajechild2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supmontochild3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supmontochild3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supporcentajechild3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supporcentajechild3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supmontoinfante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supmontoinfante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.supporcentajeinfante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supporcentajeinfante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviciomonto1doble)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviciomonto1doble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviciomonto1triple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviciomonto1triple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviciomonto1cuadruple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviciomonto1cuadruple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviciomonto1simple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviciomonto1simple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviciomonto1quintuple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviciomonto1quintuple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviciomonto1sextuple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviciomonto1sextuple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicioporcentaje1doble)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicioporcentaje1doble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicioporcentaje1triple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicioporcentaje1triple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicioporcentaje1cuadruple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicioporcentaje1cuadruple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicioporcentaje1simple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicioporcentaje1simple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicioporcentaje1quintuple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicioporcentaje1quintuple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicioporcentaje1sextuple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicioporcentaje1sextuple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviciomonto2doble)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviciomonto2doble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviciomonto2triple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviciomonto2triple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviciomonto2cuadruple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviciomonto2cuadruple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviciomonto2simple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviciomonto2simple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviciomonto2quintuple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviciomonto2quintuple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serviciomonto2sextuple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serviciomonto2sextuple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicioporcentaje2doble)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicioporcentaje2doble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicioporcentaje2triple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicioporcentaje2triple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicioporcentaje2cuadruple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicioporcentaje2cuadruple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicioporcentaje2simple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicioporcentaje2simple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicioporcentaje2quintuple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicioporcentaje2quintuple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicioporcentaje2sextuple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicioporcentaje2sextuple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preciserviciodoble1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preciserviciodoble1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preciserviciotriple1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preciserviciotriple1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preciserviciocuadruple1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preciserviciocuadruple1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preciserviciosimple1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preciserviciosimple1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preciservicioquintuple1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preciservicioquintuple1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preciserviciosextuple1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preciserviciosextuple1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preciserviciodoble2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preciserviciodoble2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preciserviciotriple2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preciserviciotriple2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preciserviciocuadruple2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preciserviciocuadruple2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preciserviciosimple2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preciserviciosimple2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preciservicioquintuple2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preciservicioquintuple2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preciserviciosextuple2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preciserviciosextuple2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria1.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria1.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_tipohabitacion.NombreTipoHabitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_tipohabitacion.NombreTipoHabitacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_ingresohotel.codprom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_ingresohotel.codprom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idDetalleIngresoHotel }) |
    @Html.ActionLink("Back to List", "Index")
</p>
