@model IntranetMundoRepresentaciones.Models.tb_agencia

@{
    ViewBag.Title = "Create";
}
<br />
<style>
    .col-md-2 {
        width: 21%;
    }
</style>
<div class="col-md-12">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Crear Agencia</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                /*Primera Fila*/
                <div class="col-md-12">
                    <!--Tipo Documento-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Tipo Documento</label>
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownList("tipodocumento", null, htmlAttributes: new { @style = "width: 100%; height:30px;" })
                        </div>
                    </div>

                    <!--Documento-->
                    <div class="col-md-2">
                        <div class="col-md-4">
                            <label style="font-size:11px;">Documento</label>
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownList("documentousuario", null, htmlAttributes: new { @style = "width: 100%; height:30px;" })
                        </div>
                    </div>

                    <!--Numero Documento-->
                    <div class="col-md-2">
                        <div class="col-md-4">
                            <label style="font-size:11px;">Numero Documento</label>
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Numero_de_Ruc, new { htmlAttributes = new { @style = "width:100%; height:30px;" } })
                        </div>
                    </div>

                    <!--Razon Social-->
                    <div class="col-md-2" style="width:36.5%">
                        <div class="col-md-2">
                            <label style="font-size:11px;">Razon Social</label>
                        </div>
                        <div class="col-md-8" style="width:79%">
                            @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @style = "width:100%; height:30px;" } })
                        </div>
                    </div>
                </div>
                /*Segunda Fila*/
                <div class="col-md-12">
                    <!--Correo-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Correo</label>
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @style = "width: 100%; height:30px;" } })
                        </div>
                    </div>

                    <!--Telefono 1-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Telefono 1</label>
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Telefono1, new { htmlAttributes = new { style = "width:100%; height:30px;" } })
                        </div>
                    </div>

                    <!--Telefono 2-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Telefono 2</label>
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Telefono2, new { htmlAttributes = new { @style = "width:100%; height:30px;" } })
                        </div>
                    </div>

                    <!--Direccion-->
                    <div class="col-md-2" style="width:36.5%">
                        <div class="col-md-2">
                            <label style="font-size:11px;">Direccion</label>
                        </div>
                        <div class="col-md-8" style="width:79%">
                            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @style = "width:100%; height:30px;" } })
                        </div>
                    </div>
                </div>
                /*Tercera Fila*/
                <div class="col-md-12" style="margin-top:5px;">
                    <!--Promotor-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Promotor</label>
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownList("Promotor", null, htmlAttributes: new { @style = "width:100%; height:30px;" })
                        </div>
                    </div>

                    <!--Linea Credito-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Linea Credito</label>
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Linea_Credito, new { htmlAttributes = new { @style = "width:100%; height:30px;" } })
                        </div>
                    </div>

                    <!--Forma Pago-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Forma Pago</label>
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownList("Formapago", null, htmlAttributes: new { @style = "width:100%; height:30px;" })
                        </div>
                    </div>
                    <!--Landing Page-->
                    <div class="col-md-2" style="width:36.5%">
                        <div class="col-md-2">
                            <label style="font-size:11px;">Landing Page</label>
                        </div>
                        <div class="col-md-8" style="width: 79%;">
                            @Html.EditorFor(model => model.Landing_MR, new { htmlAttributes = new { @style = "width:100%; height:30px;" } })
                        </div>
                    </div>
                </div>
                /*Cuarta Fila*/
                <div class="col-md-12">

                    <!--Agente Retenedor-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Agente Retenedor</label>
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownList("retenedor", null, htmlAttributes: new { @style = "width:100%; height:30px;" })
                        </div>
                    </div>

                    <!--% Retencion-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">% Retencion</label>
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Retencion, new { htmlAttributes = new { @style = "width:100%; height:30px;" } })
                        </div>
                    </div>

                    <!--Cuenta Detraccion-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Cuenta Detraccion</label>
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Cta_Detraccion, new { htmlAttributes = new { @style = "width:100%; height:30px;" } })
                        </div>
                    </div>

                    <!--Logo-->
                    <div class="col-md-1" style="width:20%;">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Logo</label>
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Logo, new { htmlAttributes = new { @style = "width:100%; height:30px;" } })
                        </div>
                    </div>

                    <!--Color-->
                    <div class="col-md-1" style="width:16.5%;">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Color</label>
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @style = "width:100%; height:30px;", @id = "colorpicker" } })
                        </div>
                    </div>
                </div>
                /*Quinta Fila*/
                <div class="col-md-12">
                    <!--Zona-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Zona</label>
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownList("idZona", null, htmlAttributes: new { @class = "combobox", @style = "width:100%; height:30px;" })
                        </div>
                    </div>

                    <!--Pais-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Pais</label>
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownList("idPais", null, htmlAttributes: new { @class = "combobox", @style = "width:100%; height:30px;" })
                        </div>
                    </div>

                    <!--Ciudad-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Ciudad</label>
                        </div>
                        <div class="col-md-7">
                            @Html.DropDownList("idCiudad", null, htmlAttributes: new { @class = "combobox", @style = "width:100%; height:30px;" })
                        </div>
                    </div>
                </div>
                /*Sexta Fila*/
                <div class="col-md-12" style="margin-top: 5px;">

                    <!--PNG en Alta Vertical-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">PNG en Alta Vertical</label>
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Png_En_alta_vertical, new { htmlAttributes = new { @style = "width:100%; height:30px;" } })
                        </div>
                    </div>

                    <!--PNG en Alta Horizontal-->
                    <div class="col-md-2">
                        <div class="col-md-5">
                            <label style="font-size:11px;">PNG en Alta Horizontal</label>
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.png_en_alta_horizontal, new { htmlAttributes = new { @style = "width:100%; height:30px;" } })
                        </div>
                    </div>

                    <!--Pie de Pagina Flyers-->
                    <div class="col-md-2" style="width:24%;">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Pie de Pagina Flyers</label>
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Pie_de_Pagina_Flyers, new { htmlAttributes = new { @style = "width:100%; height:30px;" } })
                        </div>
                    </div>

                    <!--Encabezado landing reps-->
                    <div class="col-md-2" style="width:24%;">
                        <div class="col-md-5">
                            <label style="font-size:11px;">Encabezado landing reps</label>
                        </div>
                        <div class="col-md-7">
                            @Html.EditorFor(model => model.Encabezado_landing_reps, new { htmlAttributes = new { @style = "width:100%; height:30px;" } })
                        </div>
                    </div>

                </div>
                /*Botones*/
                <div class="col-md-12" style="text-align:center;">
                    <div class="form-group">
                        <input type="submit" value="Agregar Agencia" class="btn btn-primary" />
                        @Html.ActionLink("Regresar Lista Agencia", "Index", null, new { @class = "btn btn-danger" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
