@model IntranetMundoRepresentaciones.Models.tb_agencia

@{
    ViewBag.Title = "Delete";
}

<br />
<style>
    .col-md-2 {
        width: 21%;
    }
</style>
<div class="col-md-12">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Crear Agencia</h4>
        </div>
        <div class="panel-body">

            <!--Primera Fila-->
            <div class="col-md-12">
                <!--Tipo Documento-->
                <div class="col-md-2">
                    <div class="col-md-5">
                        <label style="font-size:11px;">Tipo Documento</label>
                    </div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.tb_categoria2.nombreCategoria)
                    </div>
                </div>

                <!--Documento-->
                <div class="col-md-2">
                    <div class="col-md-4">
                        <label style="font-size:11px;">Documento</label>
                    </div>
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.tb_categoria.nombreCategoria)
                    </div>
                </div>

                <!--Numero Documento-->
                <div class="col-md-2">
                    <div class="col-md-4">
                        <label style="font-size:11px;">Numero Documento</label>
                    </div>
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.Numero_de_Ruc)
                    </div>
                </div>

                <!--Razon Social-->
                <div class="col-md-2" style="width:36.5%">
                    <div class="col-md-2">
                        <label style="font-size:11px;">Razon Social</label>
                    </div>
                    <div class="col-md-8" style="width:79%">
                        @Html.DisplayFor(model => model.RazonSocial)
                    </div>
                </div>
            </div>
            <!--Segunda Fila-->
            <div class="col-md-12">
                <!--Color-->
                <div class="col-md-2">
                    <div class="col-md-5">
                        <label style="font-size:11px;">Color</label>
                    </div>
                    <div class="col-md-7" style="text-align:match-parent">
                        @Html.DisplayFor(model => model.Color)
                    </div>
                </div>

                <!--Telefono 1-->
                <div class="col-md-2">
                    <div class="col-md-5">
                        <label style="font-size:11px;">Telefono 1</label>
                    </div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.Telefono1)
                    </div>
                </div>

                <!--Telefono 2-->
                <div class="col-md-2">
                    <div class="col-md-5">
                        <label style="font-size:11px;">Telefono 2</label>
                    </div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.Telefono2)
                    </div>
                </div>

                <!--Direccion-->
                <div class="col-md-2" style="width:36.5%">
                    <div class="col-md-2">
                        <label style="font-size:11px;">Direccion</label>
                    </div>
                    <div class="col-md-8" style="width:79%">
                        @Html.DisplayFor(model => model.Direccion)
                    </div>
                </div>
            </div>
            <!--Tercera Fila-->
            <div class="col-md-12" style="margin-top:5px;">
                <!--Promotor-->
                <div class="col-md-2">
                    <div class="col-md-5">
                        <label style="font-size:11px;">Promotor</label>
                    </div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.tb_usuario.nombreusuario)
                    </div>
                </div>

                <!--Linea Credito-->
                <div class="col-md-2">
                    <div class="col-md-5">
                        <label style="font-size:11px;">Linea Credito</label>
                    </div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.Linea_Credito)
                    </div>
                </div>

                <!--Forma Pago-->
                <div class="col-md-2">
                    <div class="col-md-5">
                        <label style="font-size:11px;">Forma Pago</label>
                    </div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.tb_categoria1.nombreCategoria)
                    </div>
                </div>
                <!--Landing Page-->
                <div class="col-md-2" style="width:36.5%">
                    <div class="col-md-2">
                        <label style="font-size:11px;">Landing Page</label>
                    </div>
                    <div class="col-md-8" style="width: 79%;">
                        @Html.DisplayFor(model => model.Landing_MR)
                    </div>
                </div>
            </div>
            <!--Cuarta Fila-->
            <div class="col-md-12">

                <!--Agente Retenedor-->
                <div class="col-md-2">
                    <div class="col-md-5">
                        <label style="font-size:11px;">Agente Retenedor</label>
                    </div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.tb_vigencia.nombreVigencia)
                    </div>
                </div>

                <!--% Retencion-->
                <div class="col-md-2">
                    <div class="col-md-5">
                        <label style="font-size:11px;">% Retencion</label>
                    </div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.Retencion)
                    </div>
                </div>

                <!--Cuenta Detraccion-->
                <div class="col-md-2">
                    <div class="col-md-5">
                        <label style="font-size:11px;">Cuenta Detraccion</label>
                    </div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.Cta_Detraccion)
                    </div>
                </div>



                <!--Correo-->
                <div class="col-md-1" style="width:16.5%;">
                    <div class="col-md-5">
                        <label style="font-size:11px;">Correo</label>
                    </div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.correo)
                    </div>
                </div>
            </div>
            <!--Quinta Fila-->
            <div class="col-md-12">
                <!--Zona-->
                <div class="col-md-2">
                    <div class="col-md-5">
                        <label style="font-size:11px;">Zona</label>
                    </div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.tb_zona.nombreZona)
                    </div>
                </div>

                <!--Pais-->
                <div class="col-md-2">
                    <div class="col-md-5">
                        <label style="font-size:11px;">Pais</label>
                    </div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.tb_pais.NombrePais)
                    </div>
                </div>

                <!--Ciudad-->
                <div class="col-md-2">
                    <div class="col-md-5">
                        <label style="font-size:11px;">Ciudad</label>
                    </div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.tb_ciudad.nombreCiudad)
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="col-md-5">
                        <label style="font-size:11px;">Vigente</label>
                    </div>
                    <div class="col-md-7">
                        @Html.DisplayFor(model => model.tb_vigencia1.nombreVigencia)
                    </div>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                /*Botones*/
                <div class="col-md-12" style="text-align:center;">
                    <div class="form-group">
                        <input type="submit" value="Eliminar Agencia" class="btn btn-primary" />
                        @Html.ActionLink("Regresar Lista Agencia", "Index", null, new { @class = "btn btn-danger" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>
