@model IntranetMundoRepresentaciones.Models.tb_agencia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_agencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Png_En_alta_vertical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Png_En_alta_vertical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Linea_Credito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Linea_Credito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Retencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Retencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.png_en_alta_horizontal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.png_en_alta_horizontal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero_de_Ruc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero_de_Ruc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cta_Detraccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cta_Detraccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pie_de_Pagina_Flyers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pie_de_Pagina_Flyers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encabezado_landing_reps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encabezado_landing_reps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Landing_MR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Landing_MR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecharegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecharegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioregistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioregistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechamodificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechamodificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuariomodificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuariomodificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria1.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria1.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_ciudad.nombreCiudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_ciudad.nombreCiudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_pais.NombrePais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_pais.NombrePais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_zona.nombreZona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_zona.nombreZona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_usuario.apellidopaternousuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_usuario.apellidopaternousuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_vigencia.nombreVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_vigencia.nombreVigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria2.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria2.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_vigencia1.nombreVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_vigencia1.nombreVigencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAgencia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
