@model IntranetMundoRepresentaciones.Models.tb_ingresohotel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tb_ingresohotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecviajeini)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecviajeini)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecviajefin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecviajefin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.feccompraini)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.feccompraini)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.feccomprafin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.feccomprafin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codprom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codprom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.montoadulto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montoadulto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.montoniño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montoniño)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.porcentaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.porcentaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doble)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doble)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doblereal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doblereal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.triple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.triple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.triplereal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.triplereal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuadruple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuadruple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuadruplereal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuadruplereal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.simple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.simple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.simplereal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.simplereal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quintuple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quintuple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quituplereal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quituplereal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sextuple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sextuple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sextuplereal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sextuplereal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.child1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.child1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.child1real)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.child1real)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.child2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.child2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.child2real)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.child2real)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.child3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.child3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.child3real)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.child3real)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.infante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.infante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.infantereal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.infantereal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edadinfante1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edadinfante1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edadinfante2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edadinfante2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecharegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecharegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioregistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioregistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechamodificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechamodificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuariomodificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuariomodificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_cadenahotelera.nombreCadenaHotelera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_cadenahotelera.nombreCadenaHotelera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria1.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria1.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria2.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria2.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria3.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria3.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria4.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria4.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria5.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria5.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_categoria6.nombreCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_categoria6.nombreCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_hotel.nombrehotel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_hotel.nombrehotel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_tipohabitacion.NombreTipoHabitacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_tipohabitacion.NombreTipoHabitacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
