@model IntranetMundoRepresentaciones.Models.tb_ingresohotel

@{
    ViewBag.Title = "Details";
}

<br />
<div class="col-md-12">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Detalle Ingreso Hotel</h4>
        </div>
        <div class="panel-body">
            <!--Primera Fila-->
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="col-md-2">
                        <label style="text-align:center;">Temporada Viaje</label>
                    </div>
                    <div class="col-md-10">
                        <div class="col-md-5" style="padding-right:0px;">
                            @String.Format("{0:dd/MM/yyyy}", Model.fecviajeini)
                        </div>
                        <div class="col-md-2">
                            <span class="input-group-addon" style="height:35px;">Al</span>
                        </div>
                        <div class="col-md-5" style="padding-right:0px;">
                            @String.Format("{0:dd/MM/yyyy}", Model.fecviajefin)
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-2">
                        <label style="text-align:center;">Temporada Compra</label>
                    </div>
                    <div class="col-md-10">
                        <div class="col-md-5" style="padding-right:0px;">
                            @String.Format("{0:dd/MM/yyyy}", Model.feccompraini)
                        </div>
                        <div class="col-md-2">
                            <span class="input-group-addon" style="height:35px;">Al</span>
                        </div>
                        <div class="col-md-5" style="padding-right:0px;">
                            @String.Format("{0:dd/MM/yyyy}", Model.feccomprafin)
                        </div>
                    </div>
                </div>
            </div>

            <!--Segunda Fila-->
            <div class="col-md-12">
                <!--Tarifa-->
                <div class="col-md-2">
                    <div class="col-md-3">
                        <label style="text-align:center;">Tarifa</label>
                    </div>
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.tb_categoria.nombreCategoria)
                    </div>
                </div>

                <!--Cod. Promocion-->
                <div class="col-md-2">
                    <div class="col-md-3">
                        <label style="text-align:center;">Cod. Promo</label>
                    </div>
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.codprom)
                    </div>
                </div>

                <!--Monto Adulto-->
                <div class="col-md-2">
                    <div class="col-md-4">
                        <label style="text-align:center;">Monto Adulto</label>
                    </div>
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.montoadulto)
                    </div>
                </div>

                <!--Monto Niño-->
                <div class="col-md-2">
                    <div class="col-md-4">
                        <label style="text-align:center;">Monto Niño</label>
                    </div>
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.montoniño)
                    </div>
                </div>

                <!--Monto Infante-->
                <div class="col-md-2">
                    <div class="col-md-4">
                        <label style="text-align:center;">Monto Infante</label>
                    </div>
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.montoinfante)
                    </div>
                </div>

                <!--Porcentaje-->
                <div class="col-md-2">
                    <div class="col-md-4">
                        <label style="text-align:center;">%</label>
                    </div>
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.porcentaje)
                    </div>
                </div>
            </div>

            <!--Tercera Fia-->
            <div class="col-md-12">
                <!--Cadena Hotelera-->
                <div class="col-md-4">
                    <div class="col-md-2">
                        <label style="text-align:center;">Cadena</label>
                    </div>
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.tb_cadenahotelera.nombreCadenaHotelera)
                    </div>
                </div>

                <!--Hotel-->
                <div class="col-md-4">
                    <div class="col-md-2">
                        <label style="text-align:center;">Hotel</label>
                    </div>
                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.tb_hotel.nombrehotel)
                    </div>
                </div>
            </div>

            <!--Cuarta Fila-->
            @foreach (var detalle in Model.tb_detalleingresohotel)
            {
                /*Precios Netos*/
                <div class="col-md-12">
                    <h4>
                        Precios Netos
                    </h4>
                    <table id="example" class="table table-bordered table-striped" border="1">
                        <thead>
                            <tr>
                                <td>
                                    Habitacion
                                    A: @detalle.capmaximaadu
                                    -
                                    N: @detalle.capmaximanin
                                </td>
                                <td>Doble</td>
                                <td>Triple</td>
                                <td>Cuadruple</td>
                                <td>Simple</td>
                                <td>Quintuple</td>
                                <td>Sextuple</td>
                                <td>
                                    Child 1:
                                    @detalle.edad1child1
                                    -
                                    @detalle.edad2child1
                                </td>
                                <td>
                                    Child 2:
                                    @detalle.edad1child2
                                    -
                                    @detalle.edad2child2
                                </td>
                                <td>
                                    Child 3:
                                    @detalle.edad1child3
                                    -
                                    @detalle.edad2child3
                                </td>
                                <td>
                                    Infante:
                                    @detalle.edadinfante1
                                    -
                                    @detalle.edadinfante2
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @detalle.tb_tipohabitacion.NombreTipoHabitacion
                                </td>
                                <td>
                                    @detalle.doble
                                </td>
                                <td>
                                    @detalle.triple
                                </td>
                                <td>
                                    @detalle.cuadruple
                                </td>
                                <td>
                                    @detalle.simple
                                </td>
                                <td>
                                    @detalle.quintuple
                                </td>
                                <td>
                                    @detalle.sextuple
                                </td>
                                <td>
                                    @detalle.child1
                                </td>
                                <td>
                                    @detalle.child2
                                </td>
                                <td>
                                    @detalle.child3
                                </td>
                                <td>
                                    @detalle.infante
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                /*Precios Ventas*/
                <div class="col-md-12">
                    <h4>
                        Precios Venta
                    </h4>
                    <table id="example" class="table table-bordered table-striped" border="1">
                        <thead>
                            <tr>
                                <td>
                                    Habitacion
                                    A: @detalle.capmaximaadu
                                    -
                                    N: @detalle.capmaximanin
                                </td>
                                <td>Doble</td>
                                <td>Triple</td>
                                <td>Cuadruple</td>
                                <td>Simple</td>
                                <td>Quintuple</td>
                                <td>Sextuple</td>
                                <td>
                                    Child 1:
                                    @detalle.edad1child1
                                    -
                                    @detalle.edad2child1
                                </td>
                                <td>
                                    Child 2:
                                    @detalle.edad1child2
                                    -
                                    @detalle.edad2child2
                                </td>
                                <td>
                                    Child 3:
                                    @detalle.edad1child3
                                    -
                                    @detalle.edad2child3
                                </td>
                                <td>
                                    Infante:
                                    @detalle.edadinfante1
                                    -
                                    @detalle.edadinfante2
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @detalle.tb_tipohabitacion.NombreTipoHabitacion
                                </td>
                                <td>
                                    @detalle.doblereal
                                </td>
                                <td>
                                    @detalle.triplereal
                                </td>
                                <td>
                                    @detalle.cuadruplereal
                                </td>
                                <td>
                                    @detalle.simplereal
                                </td>
                                <td>
                                    @detalle.quituplereal
                                </td>
                                <td>
                                    @detalle.sextuplereal
                                </td>
                                <td>
                                    @detalle.child1real
                                </td>
                                <td>
                                    @detalle.child2real
                                </td>
                                <td>
                                    @detalle.child3real
                                </td>
                                <td>
                                    @detalle.infantereal
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            }

            <!--Botones-->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                /*Botones*/
                <div class="col-md-12" style="text-align:center;">
                    <div class="form-group">
                        @Html.ActionLink("Editar Ingreso Hotel", "Edit", new { id = Model.idIngresoHotel }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Regresar Lista Ingreso Hotel", "Index", null, new { @class = "btn btn-danger" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>